Repository aws-samples/serverless-test-samples, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dancfox, @rohanmeh, @brnkrygs, @wtromano-aws, @dmahapatro, @jeastham1993, @dhelper

Metadata file validation test
  python-test-samples/apigw-lambda-dynamodb/README.md
Owners: @wtromano-aws, @dancfox

Metadata file validation test
  .github/workflows/metadata-validation.yml
Owners: @dancfox, @rohanmeh

Metadata file validation test
  python-test-samples/apigw-lambda-dynamodb/README.md
Owners: @wtromano-aws, @dancfox

Metadata file validation test
  .github/workflows/metadata-validation.yml
Owners: @dancfox, @rohanmeh

Metadata file validation test
  python-test-samples/apigw-lambda-dynamodb/README.md
Owners: @wtromano-aws, @dancfox

Metadata file validation test
  .github/workflows/metadata-validation.yml
Owners: @dancfox, @rohanmeh

Metadata file validation test
  python-test-samples/apigw-lambda-dynamodb/README.md
Owners: @wtromano-aws, @dancfox

Metadata file validation test
  .github/workflows/requirements.txt
Owners: @dancfox, @rohanmeh

Metadata file validation test
  python-test-samples/apigw-lambda-dynamodb/README.md
Owners: @wtromano-aws, @dancfox

Metadata file validation test
  .github/workflows/requirements.txt
Owners: @dancfox, @rohanmeh

Metadata file validation test
  python-test-samples/apigw-lambda-dynamodb/README.md
Owners: @wtromano-aws, @dancfox

Metadata file validation test
  .github/workflows/metadata-validation.yml
Owners: @dancfox, @rohanmeh

Metadata file validation test
  python-test-samples/apigw-lambda-dynamodb/README.md
Owners: @wtromano-aws, @dancfox

Metadata file validation test
  .github/workflows/metadata-validation.yml
Owners: @dancfox, @rohanmeh

Metadata file validation test
  python-test-samples/apigw-lambda-dynamodb/README.md
Owners: @wtromano-aws, @dancfox

Update folder target
  .github/workflows/getPatternFolder.py
  .github/workflows/metadata-validation.yml
  .github/workflows/python-app.yml
Owners: @dancfox, @rohanmeh

Update folder target
  python-test-samples/apigw-lambda-dynamodb/README.md
Owners: @wtromano-aws, @dancfox

Update folder target
  .github/workflows/getPatternFolder.py
Owners: @dancfox, @rohanmeh

Update folder target
  python-test-samples/apigw-lambda-dynamodb/README.md
Owners: @wtromano-aws, @dancfox

Update push paths for GitHub Actions
  .github/workflows/metadata-validation.yml
  .github/workflows/python-app.yml
Owners: @dancfox, @rohanmeh

Update Typescript Readme to test metadata validation
  typescript-test-samples/typescript-test-intro/README.md
Owners: @brnkrygs

update metadata language schema
  .github/workflows/metadata_json_schema.py
Owners: @dancfox, @rohanmeh

update metadata language schema
  typescript-test-samples/typescript-test-intro/README.md
Owners: @brnkrygs

.github/CODEOWNERS:

* @dancfox @rohanmeh

/typescript-test-samples/ @brnkrygs
/python-test-samples/ @wtromano-aws @dancfox
/java-test-samples/ @dmahapatro
/dotnet-test-samples/ @jeastham1993 @dhelper
