Repository aws-samples/serverless-test-samples, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dancfox, @rohanmeh, @brnkrygs, @wtromano-aws, @dmahapatro, @jeastham1993, @dhelper

.github/CODEOWNERS:

* @dancfox @rohanmeh

/typescript-test-samples/ @brnkrygs
/python-test-samples/ @wtromano-aws @dancfox
/java-test-samples/ @dmahapatro
/dotnet-test-samples/ @jeastham1993 @dhelper

Moved images to root docs folder updated metadata
  dotnet-test-samples/docs/send-message.png
  dotnet-test-samples/docs/sqs-lambda.png
  dotnet-test-samples/docs/syntevent-trigger.png
  dotnet-test-samples/sqs-lambda/README.md
  dotnet-test-samples/sqs-lambda/metadata.json
Owners: @jeastham1993, @dhelper

Update CI Job
  .github/workflows/python-app.yml
Owners: @dancfox, @rohanmeh

Test CI Job
  python-test-samples/apigw-lambda-dynamodb/README.md
Owners: @wtromano-aws, @dancfox

Test CI Job
  .github/workflows/python-app.yml
Owners: @dancfox, @rohanmeh

Test CI Job
  python-test-samples/apigw-lambda-dynamodb/README.md
Owners: @wtromano-aws, @dancfox

Test CI Job
  .github/workflows/python-app.yml
Owners: @dancfox, @rohanmeh

Test CI Job
  python-test-samples/apigw-lambda-dynamodb/README.md
Owners: @wtromano-aws, @dancfox

Test CI Job
  .github/workflows/python-app.yml
Owners: @dancfox, @rohanmeh

Test CI Job
  .github/workflows/python-app.yml
Owners: @dancfox, @rohanmeh

Test CI Job
  python-test-samples/apigw-lambda-dynamodb/README.md
Owners: @wtromano-aws, @dancfox

Updated Image Reference in README.md
  dotnet-test-samples/sqs-lambda/README.md
Owners: @jeastham1993, @dhelper

Initial metadata validator
  .github/METADATA/metadata_json_schema.py
  .github/METADATA/metadata_json_validator.py
  .github/METADATA/requirements.txt
Owners: @dancfox, @rohanmeh

Reduce service name length
  .github/METADATA/metadata_json_schema.py
Owners: @dancfox, @rohanmeh

Update with Python script for finding directories
  .github/workflows/getPatternFolder.py
  .github/workflows/python-app.yml
Owners: @dancfox, @rohanmeh

Update with Python script for finding directories
  .github/workflows/python-app.yml
Owners: @dancfox, @rohanmeh

Update with Python script for finding directories
  python-test-samples/apigw-lambda-dynamodb/README.md
Owners: @wtromano-aws, @dancfox

Update with Python script for finding directories
  .github/workflows/python-app.yml
Owners: @dancfox, @rohanmeh

Update with Python script for finding directories
  python-test-samples/apigw-lambda-dynamodb/README.md
Owners: @wtromano-aws, @dancfox

Update with Python script for finding directories
  .github/workflows/python-app.yml
Owners: @dancfox, @rohanmeh

dotnet changed to .NET
  .github/METADATA/metadata_json_schema.py
Owners: @dancfox, @rohanmeh

Update with Python script for finding directories
  python-test-samples/apigw-lambda-dynamodb/README.md
Owners: @wtromano-aws, @dancfox

Update with Python script for finding directories
  .github/workflows/getPatternFolder.py
  .github/workflows/python-app.yml
Owners: @dancfox, @rohanmeh

Update with Python script for finding directories
  python-test-samples/apigw-lambda-dynamodb/README.md
Owners: @wtromano-aws, @dancfox

Update with Python script for finding directories
  python-test-samples/apigw-lambda-dynamodb/README.md
Owners: @wtromano-aws, @dancfox

Update with Python script for finding directories
  .github/workflows/python-app.yml
Owners: @dancfox, @rohanmeh

Update with Python script for finding directories
  python-test-samples/apigw-lambda-dynamodb/README.md
Owners: @wtromano-aws, @dancfox

Update with Python script for finding directories
  .github/workflows/getPatternFolder.py
  .github/workflows/python-app.yml
Owners: @dancfox, @rohanmeh

Update with Python script for finding directories
  python-test-samples/apigw-lambda-dynamodb/README.md
Owners: @wtromano-aws, @dancfox

Update with Python script for finding directories
  .github/workflows/getPatternFolder.py
  .github/workflows/python-app.yml
Owners: @dancfox, @rohanmeh

Update with Python script for finding directories
  python-test-samples/apigw-lambda-dynamodb/README.md
Owners: @wtromano-aws, @dancfox

Update with Python script for finding directories
  .github/workflows/getPatternFolder.py
Owners: @dancfox, @rohanmeh

Update with Python script for finding directories
  python-test-samples/apigw-lambda-dynamodb/README.md
Owners: @wtromano-aws, @dancfox

Update with Python script for finding directories
  .github/workflows/getPatternFolder.py
  .github/workflows/python-app.yml
Owners: @dancfox, @rohanmeh

Update with Python script for finding directories
  python-test-samples/apigw-lambda-dynamodb/README.md
Owners: @wtromano-aws, @dancfox

Update with Python script for finding directories
  .github/workflows/python-app.yml
Owners: @dancfox, @rohanmeh

Update with Python script for finding directories
  python-test-samples/apigw-lambda-dynamodb/README.md
Owners: @wtromano-aws, @dancfox

Update with Python script for finding directories
  .github/workflows/python-app.yml
Owners: @dancfox, @rohanmeh

Update with Python script for finding directories
  python-test-samples/apigw-lambda-dynamodb/README.md
Owners: @wtromano-aws, @dancfox

Test Python CI (#166)
  .github/WORKFLOWS/python-sample-ci.yml
  .github/workflows/getPatternFolder.py
  .github/workflows/python-app.yml
  python-test-samples/apigw-lambda-dynamodb/README.md
  python-test-samples/apigw-lambda/README.md
Owners: @dancfox, @rohanmeh, @wtromano-aws

Add metadata validation
  .github/workflows/metadata-validation.yml
  .github/workflows/metadata_json_schema.py
  .github/workflows/metadata_json_validator.py
  .github/workflows/requirements.txt
Owners: @dancfox, @rohanmeh
