Repository aws-samples/serverless-test-samples, pull requests merged in 2023-07, with the labels that each got.

#228 Add Typecript unit tests using Step Functions Local
  typescript-test-samples/step-functions-local/.gitignore
  typescript-test-samples/step-functions-local/README.md
  typescript-test-samples/step-functions-local/events/sfn_valid_input.json
  typescript-test-samples/step-functions-local/images/stepfunctions_local_test.png
  typescript-test-samples/step-functions-local/images/system-under-test-description.png
  typescript-test-samples/step-functions-local/metadata.json
  typescript-test-samples/step-functions-local/src/.eslintignore
  typescript-test-samples/step-functions-local/src/.eslintrc.js
  typescript-test-samples/step-functions-local/src/.npmignore
  typescript-test-samples/step-functions-local/src/.prettierrc.js
  typescript-test-samples/step-functions-local/src/jest.config.ts
  typescript-test-samples/step-functions-local/src/jest.sfnLocal.config.ts
  typescript-test-samples/step-functions-local/src/package-lock.json
  typescript-test-samples/step-functions-local/src/package.json
  typescript-test-samples/step-functions-local/src/tests/sfnLocal/step-functions-constants.ts
  typescript-test-samples/step-functions-local/src/tests/sfnLocal/step-functions-local.test.ts
  typescript-test-samples/step-functions-local/src/tsconfig.json
  typescript-test-samples/step-functions-local/statemachine/local_testing.asl.json
  typescript-test-samples/step-functions-local/statemachine/test/MockConfigFile.json
Labels: typescript

#194 Optimizing Best Practices (Observability) & DLQ
  dotnet-test-samples/kinesis-lambda-dynamodb/src/KinesisEventHandler.Infrastructure/KinesisEventHandler.Infrastructure.csproj
  dotnet-test-samples/kinesis-lambda-dynamodb/src/KinesisEventHandler.Infrastructure/Startup.cs
  dotnet-test-samples/kinesis-lambda-dynamodb/src/KinesisEventHandler/Functions/ProcessEmployeeFunction.cs
  dotnet-test-samples/kinesis-lambda-dynamodb/src/KinesisEventHandler/Handlers/KinesisEventHandler.cs
  dotnet-test-samples/kinesis-lambda-dynamodb/src/template.yaml
Labels: .NET

#104 Java appsync sam
  java-test-samples/java-appsync-sam/README-Cognito.md
  java-test-samples/java-appsync-sam/README.md
  java-test-samples/java-appsync-sam/appspec.yml
  java-test-samples/java-appsync-sam/assets/Architecture-appsync.png
  java-test-samples/java-appsync-sam/assets/CodePipeline.png
  java-test-samples/java-appsync-sam/assets/TestingDashboard.png
  java-test-samples/java-appsync-sam/assets/cloudformation-stack.png
  java-test-samples/java-appsync-sam/assets/cloudformation-testing.png
  java-test-samples/java-appsync-sam/assets/schema.png
  java-test-samples/java-appsync-sam/assets/sut.png
  java-test-samples/java-appsync-sam/buildspec.yml
  java-test-samples/java-appsync-sam/cognito.yaml
  java-test-samples/java-appsync-sam/dependency-reduced-pom.xml
  java-test-samples/java-appsync-sam/metadata.json
  java-test-samples/java-appsync-sam/pipeline.yaml
  java-test-samples/java-appsync-sam/pom.xml
  java-test-samples/java-appsync-sam/src/main/java/com/example/App.java
  java-test-samples/java-appsync-sam/src/main/java/com/example/DependencyFactory.java
  java-test-samples/java-appsync-sam/src/main/java/com/example/Handler.java
  java-test-samples/java-appsync-sam/src/main/resources/simplelogger.properties
  java-test-samples/java-appsync-sam/src/mapping_templates/create_booking_request.vtl
  java-test-samples/java-appsync-sam/src/mapping_templates/create_booking_response.vtl
  java-test-samples/java-appsync-sam/src/mapping_templates/create_location_request.vtl
  java-test-samples/java-appsync-sam/src/mapping_templates/create_location_response.vtl
  java-test-samples/java-appsync-sam/src/mapping_templates/create_resource_request.vtl
  java-test-samples/java-appsync-sam/src/mapping_templates/create_resource_response.vtl
  java-test-samples/java-appsync-sam/src/mapping_templates/delete_booking_request.vtl
  java-test-samples/java-appsync-sam/src/mapping_templates/delete_booking_response.vtl
  java-test-samples/java-appsync-sam/src/mapping_templates/delete_location_request.vtl
  java-test-samples/java-appsync-sam/src/mapping_templates/delete_location_response.vtl
  java-test-samples/java-appsync-sam/src/mapping_templates/delete_resource_request.vtl
  java-test-samples/java-appsync-sam/src/mapping_templates/delete_resource_response.vtl
  java-test-samples/java-appsync-sam/src/mapping_templates/get_booking_request.vtl
  java-test-samples/java-appsync-sam/src/mapping_templates/get_booking_response.vtl
  java-test-samples/java-appsync-sam/src/mapping_templates/get_bookings_for_resource_request.vtl
  java-test-samples/java-appsync-sam/src/mapping_templates/get_bookings_for_resource_response.vtl
  java-test-samples/java-appsync-sam/src/mapping_templates/get_bookings_for_user_request.vtl
  java-test-samples/java-appsync-sam/src/mapping_templates/get_bookings_for_user_response.vtl
  java-test-samples/java-appsync-sam/src/mapping_templates/get_location_request.vtl
  java-test-samples/java-appsync-sam/src/mapping_templates/get_location_response.vtl
  java-test-samples/java-appsync-sam/src/mapping_templates/get_locations_request.vtl
  java-test-samples/java-appsync-sam/src/mapping_templates/get_locations_response.vtl
  java-test-samples/java-appsync-sam/src/mapping_templates/get_resource_request.vtl
  java-test-samples/java-appsync-sam/src/mapping_templates/get_resource_response.vtl
  java-test-samples/java-appsync-sam/src/mapping_templates/get_resources_for_location_request.vtl
  java-test-samples/java-appsync-sam/src/mapping_templates/get_resources_for_location_response.vtl
  java-test-samples/java-appsync-sam/src/test/java/com/example/IntegrationTest.java
  java-test-samples/java-appsync-sam/src/test/java/com/example/MockTest.java
  java-test-samples/java-appsync-sam/template.yaml
  java-test-samples/java-appsync-sam/testspec.yml
Labels: java
